{% extends 'base.html' %}

{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 border p-4 mt-2">
      <h2>Thank you for visiting my website! I'm glad you stopped by. I hope you enjoyed your time here. If you have any
        questions, feedback, or just want to say hello, feel free to reach out. I'd love to hear from you. You can
        contact
        me through my instagram or email. Looking forward to connecting with you!</h2>
    </div>
    <div class="col-6 border p-4 mt-2 m">
      <a style="text-decoration: none;" href="https://www.instagram.com/igorbroch">
        <h6> @IgorBroch </h6>
      </a>
      <h6>Email: igorbroch7@gmail.com</h6>
    </div>
  </div>
</div>


{% endblock %}
